{% extends "common/layout.html.twig" %}

{% block metaTitle %}Une erreur est survenue{% endblock %}

{% block breadcrumb %}
<a href="{{ path('homepage') }}" title="Aller vers : Accueil">Accueil</a> > Erreur sur le site
{% endblock %}

{% block content %}
	
	<h3>Une erreur est survenue</h3>

	Merci de contacter l'administrateur de l'application en indiquant l'erreur ci dessous :
	
	<pre class="errors">
		<code>
			{{ message }}
		</code>
	</pre>
{% endblock %}